USE [InstrumentDatabase]
GO
/****** Object:  Table [dbo].[EquipmentTag]    Script Date: 06-05-2021 13:00:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EquipmentTag](
	[SNo] [nvarchar](500) NOT NULL,
	[Area] [int] NOT NULL,
	[Area_Description] [nvarchar](500) NULL,
	[Eq_Type] [nvarchar](500) NOT NULL,
	[Eq_TypeDescription] [nvarchar](500) NULL,
	[Tag] [nvarchar](500) NULL,
	[P_ID] [nvarchar](500) NULL,
	[Eq] [nvarchar](500) NOT NULL,
	[FLC_as_in_EqList] [nvarchar](500) NULL,
	[Description_in_EqList] [nvarchar](500) NULL,
	[FLC_in_FLOC] [nvarchar](500) NULL,
	[Area2] [nvarchar](500) NULL,
	[Remarks] [nvarchar](500) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[EquipmentTag] ([SNo], [Area], [Area_Description], [Eq_Type], [Eq_TypeDescription], [Tag], [P_ID], [Eq], [FLC_as_in_EqList], [Description_in_EqList], [FLC_in_FLOC], [Area2], [Remarks]) VALUES (N'1', 15, N'Refinery', N'C', N'Columns & Pressure Vessels', N'5564', N'CN-16936', N'15-C-5564', N'MESC-050-010-090', N'North Leaf Filters Vessel', N'MESC-050-010-090', N'475', NULL)
INSERT [dbo].[EquipmentTag] ([SNo], [Area], [Area_Description], [Eq_Type], [Eq_TypeDescription], [Tag], [P_ID], [Eq], [FLC_as_in_EqList], [Description_in_EqList], [FLC_in_FLOC], [Area2], [Remarks]) VALUES (N'2', 15, N'Refinery', N'C', N'Columns & Pressure Vessels', N'5566', N'CN-16936', N'15-C-5566', N'MESC-050-010-080', N'South Leaf Filters Vessel', N'MESC-050-010-080', N'475', NULL)
INSERT [dbo].[EquipmentTag] ([SNo], [Area], [Area_Description], [Eq_Type], [Eq_TypeDescription], [Tag], [P_ID], [Eq], [FLC_as_in_EqList], [Description_in_EqList], [FLC_in_FLOC], [Area2], [Remarks]) VALUES (N'3', 15, N'Refinery', N'C', N'Columns & Pressure Vessels', N'5572', N'CN-16935', N'15-C-5572', N'MESC-050-010-270', N'Bleacher', N'MESC-050-010-270', N'475', NULL)
GO
